{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
...

<div class="container-fluid my-5">
    <div class="row">

        <div class="col-md-6 p-0">
            <iframe 
                src="https://www.google.com/maps?q=Achupallas+6748&output=embed"
                width="100%" height="400" style="border:0;" allowfullscreen>
            </iframe>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center p-5">
            <h3>Tienda Lore</h3>
            <p>📍 Achupallas 6748</p>
            <p>🕘 9–13 / 17–20</p>
            <p>📞 113592-8717</p>
        </div>

    </div>
</div>

{% endblock %}
